@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
}

ul,
ul li,
ol li {
    list-style-type: none;
}

p {
    font-weight: 400 !important;
    color: #2c2c2c !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800 !important;
    color: #2c2c2c !important;
}




/* --------- */

.icon-btn {
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.icon-btn img {
    width: auto;
    height: 26px;
}